* {
    /* border: 1px solid red;  */
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;  
    font-family: 'Merriweather', serif;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 60px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    font-size: 1.5em;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(218, 64, 218);
}

.background {
    z-index: -1;
    width: 100%;
    position: relative;
    margin-top: 70px;
}

.showfeats {
    z-index: -1;
    display:flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 5em;
    font-weight: 80;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.performers {
    background-color: white;
}

.month {
    border: 1px solid rgb(199, 195, 195);
    background-color: rgb(221, 225, 229);
    border-radius: 1px;
    width: 100%;
    height: 1.5em;
    text-align: center;
}

.performer-container {
    display: block; 
    background-color: white;
    margin-top: -5%;
    padding: 5% 15% 5% 15%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid white;
    border-bottom: 1px solid rgb(201, 197, 197);
    text-align: left;
    padding: 2%;
}

.image {
    width: 200px;
    height: 200px;
}

.table-text {
    padding: 0%;
    margin: auto;
    color: rgb(98, 96, 96);
    font-size: 0.8em;
}

.table-text-name {
    padding: 0%;
    margin: auto;
    color: rgb(98, 96, 96);
    font-size: 1em;
    padding-bottom: 8%;
}

button.readmore {
    background-color: rgb(248, 227, 123);
    color: rgb(98, 96, 96);
    border: 1px solid rgb(199, 195, 195);
    height: 3em;
}

button:active {
    cursor: pointer;
}

footer {
    margin-bottom: 0px;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map {
    width: 250px;
    padding: 5%;
    padding-left: 100px;
}

.mapimg {
    width: 200px;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 0.3em;
}

.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 0.3em;
}

.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 0.3em;
}

.foothead {
    font-size: 5em;
    padding-left: 3%;
}

.tiny {
    margin: 3px;
    padding: 2%;
}